.botones {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .boton{
        width: 20vh;
    height: 3em;
    }
}

.prueba {
    background-color: aqua;
}

it config --global user.email "you@example.com"
  git config --global user.name "Your Name"